body {
    margin: 0;
    color: white;
    background-color: black;
}
.gridContainer{
    display: grid;
    grid-template-rows: 50% 50%;
	grid-template-columns: 33% 33% 33%;
    column-gap: 10px;
}
.header {
    text-align: center;
    grid-column: 1/4;
    grid-row: 1;
    color: white;
    background-color: #2BCEC1;
    font-size: 2em;
}
p {
    padding: 0px 50px 0px 50px;
}
.titleOne {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titleTwo {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titleThree {
    grid-column: 3;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p.titleTextTwo{
    font-size: 1.5em;
    width: 200px;
    text-align: center;
    border-top: solid #F46831 30px;  
}
p.titleTextOne {
    font-size: 1.5em;
    width: 200px;
    text-align: center;
    border-top: solid #33A8DD 30px;  
}
p.titleTextThree {
    font-size: 1.5em;
    width: 200px;
    text-align: center;
    border-top: solid #2BCEC1 30px;  
}
@media only screen and (max-width: 576px) {
    body {
      background-color: white;
      color: black;
    }
    .gridContainer {
        display: flex;
        flex-direction: column;
    }
  }