body {
    margin: 0;
}
.gridContainer{
    display: grid;
    grid-template-rows: 50% 50%;
	grid-template-columns: 33% 33% 33%;      
}
.header {
    text-align: center;
    grid-column: 1/4;
    grid-row: 1;
    color: white;
    background-color: #ED8B16;
    font-size: 2em;
}
.titleOne {
    grid-column: 1;
    grid-row: 2;

}
.titleTwo {
    grid-column: 2;
    grid-row: 2;
}
.titleThree {
    grid-column: 3;
    grid-row: 2
}
h2 {
    text-align: center;
    border-top: solid blue 30px;
}
@media (min-width: 576px) {
    .gridContainer {
        display: flex;
        fle
    }
}
@media (min-width: 992px) {
    .gridContainer {
        display: grid;
    }
}